@import "tailwindcss";

.active {
  @apply text-red-500;
}

body {
  margin: 0;
}

.menu-link {
  @apply flex items-center gap-2;
}

.stat-card {
  @apply bg-slate-800 border rounded-xl w-44 h-28
         flex flex-col items-center justify-center
         shadow-md;
}

.stat-value {
  @apply font-sans tabular-nums text-3xl font-bold;
}

.stat-label {
  @apply mt-1 text-xs uppercase tracking-wide text-slate-400;
}

.today-stat-card {
  @apply grid grid-cols-2;
}

.pagination-btn{
  @apply border py-1 px-2 rounded bg-slate-800 border-slate-700  disabled:cursor-not-allowed disabled:bg-slate-700 disabled:border-slate-700 
}

.activity-table-head{
  @apply px-4 py-3 text-center text-sm uppercase tracking-wide text-slate-400
}
